# =====================
# LOGS
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# DEPENDENCIES
# =====================
node_modules/

# =====================
# BUILD / ARTIFACT
# =====================
dist/
dist-ssr/
coverage/
fe/dist/
fe/dist.zip

# =====================
# ENV / SECRET
# =====================
.env
.env.*
token.json

be/.env.*
fe/.env.*

# =====================
# GOOGLE / OAUTH (DỄ CONFLICT)
# =====================
be/app/ThirdParty/google/*.json
be/app/ThirdParty/google/token.json
be/app/ThirdParty/google/config.php

# =====================
# TEST / DEBUG FILES
# =====================
test.php
*/test.php
be/public/test.php
fe/test.php

# =====================
# IDE / SYSTEM
# =====================
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# =====================
# CUSTOM IGNORED FILES
# =====================
be/app/Controllers/GoogleAuth.php
